{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Создание учебного заведения{% endblock %}

{% block header %}
    {% include 'Includes/header_administrator.html' %}
{% endblock %}
{% block content %}
<a class="btn-action" href="{% url 'bookLibrary:EducationalInstitutionListView' %}"><p>Назад</p></a>
<div class="form-wrapper">
    <header class="centered-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label><br>
                <button type="submit" class="btn-action">Добавить</button>
            </label>
        </form>
    </header>
</div>
{% endblock %}


