{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Создание студента{% endblock %}

{% block header %}
    {% include 'Includes/header_bd_admin.html' %}
{% endblock %}
{% if messages %}
    {% for message in messages %}
        <div class="mes_error">
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% block content %}
<a class="btn-action" href="{% url 'bookLibrary:StudentsListView' %}"><p>Назад</p></a>
<div class="form-wrapper">
    <header class="centered-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label><br>
                <button type="submit" class="btn-action">Добавить</button>
            </label>
        </form>
    </header>
</div>
{% endblock %}