{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Удаление студента{% endblock %}

{% block header %}
    {% include 'Includes/header_bd_admin.html' %}
{% endblock %}
{% if messages %}
    {% for message in messages %}
        <div class="mes_error">
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% block content %}
<a class="btn-action" href="{% url 'bookLibrary:StudentsListView' %}"><p>Назад</p></a>
<div class="form-wrapper1">
    <form method="post" action="{% url 'bookLibrary:Students_delete' pk=student.pk %}">
        {% csrf_token %}
        <label>
            <h1>Удалить - {{StudentsDeleteView.first_name}}</h1>
            <button type="submit" class="btn-action">Удалить</button>
        </label>
    </form>
</div>
{% endblock %}
