{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Обновление книг{% endblock %}

{% block header %}
    {% include 'Includes/header_administrator.html' %}
{% endblock %}
{% block content %}
<a class="btn-action" href="{% url 'bookLibrary:BooksListView' %}"><p>Назад</p></a>
<div class="form-wrapper1">
    <h1 class="name_oparetion" style="text-align: center;">Обновить книгу</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label>
            <br>
            <button type="submit">Изменить</button>
        </label>
    </form>
</div>
{% endblock %}


