{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Подробная информация о статусе{% endblock %}

{% block header %}
    {% include 'Includes/header_administrator.html' %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <a class="btn-action" href="{% url 'bookLibrary:StatusListView' %}">
            <p>Назад</p>
        </a>
        <div class='form-wrapper'>
            <h1 class="name-operation">Просмотр</h1>
            <div class="status-details">
                <div class="status-info">
                    <h2 class="status-name">{{ StatusListView.status_name }}</h2>
                    <div class="up-del-buttons">
                        <a class="btn-action" href="{% url 'bookLibrary:StatusUpdateView' StatusListView.pk %}"><p>Обновить</p></a>
                        <a class="btn-action" href="{% url 'bookLibrary:Status_Delete' StatusListView.pk %}"><p>Удалить</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
