{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Подробная информация о пользователе{% endblock %}

{% block header %}
    {% include 'Includes/header_bd_admin.html' %}
{% endblock %}
{% block content %}
<br>
<div class="content-wrapper">
    <a class="btn-action" href="{% url 'bookLibrary:UsersListView' %}"><p>Назад</p></a>
        <div class='form-wrapper'>
            <h1 class="name_oparetion" style="text-align: center;">Просмотр</h1>
            <div class="status-details">
                <div class="status-info">
                    <h2 class="status-name">{{ UsersListView.username }}</h2>
                    <h2 class="status-name">{{ UsersListView.password }}</h2>
                    <h2 class="status-name">{{ UsersListView.email }}</h2>
                    <h2 class="status-name">{{ UsersListView.role.role_name }}</h2>
                    <div class="up-del-buttons">
                        <a href = "{% url 'bookLibrary:UsersUpdateView' UsersListView.pk %}"><p>Обновить</p></a>
                        <a href = "{% url 'bookLibrary:Users_Delete' UsersListView.pk %}"><p>Удалить</p></a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}


