{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Удаление жанра{% endblock %}

{% block header %}
    {% include 'Includes/header_administrator.html' %}
{% endblock %}
{% block content %}
<a class="btn-action" href="{% url 'bookLibrary:GenresListView' %}"><p>Назад</p></a>
<div class="form-wrapper1">
    <form method="post" action="{% url 'bookLibrary:Genres_Delete' pk=genre.pk %}">
        {% csrf_token %}
        <label>
            <h1>Удалить - {{GenresDeleteView.genre_name}}</h1>
            <button type="submit" class="btn-action">Удалить</button>
        </label>
    </form>
</div>
{% endblock %}
