{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Подробная информация о ролях{% endblock %}

{% block header %}
    {% include 'Includes/header_bd_admin.html' %}
{% endblock %}
{% block content %}
<br>
<div class="content-wrapper">
    <a class="btn-action" href="{% url 'bookLibrary:RolesListView' %}"><pre>Назад</pre></a>
        <div class='form-wrapper'>
            <h1 class="name_oparetion" style="text-align: center;">Просмотр</h1>
            <div class="status-details">
                <div class="status-info">
                    <h2 class="status-name">{{ RolesListView.role_name }}</h2>
                    <div class="up-del-buttons">
                        <a href = "{% url 'bookLibrary:RolesUpdateView' RolesListView.pk %}"><p>Обновить</p></a>
                        <a href = "{% url 'bookLibrary:Roles_Delete' RolesListView.pk %}"><p>Удалить</p></a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}


