{% extends "bookLibrary/base.html" %}
{% load static %}
{% block title %}Подробная информация о студенте{% endblock %}

{% block header %}
    {% include 'Includes/header_administrator.html' %}
{% endblock %}
{% block content %}
<br>
<div class="content-wrapper">
    <a class="btn-action" href="{% url 'bookLibrary:StudListView' %}"><p>Назад</p></a>
        <div class='form-wrapper'>
            <h1 class="name_oparetion" style="text-align: center;">Просмотр</h1>
            <div class="status-details">
                <div class="status-info">
                    <h2 class="status-name">{{ StudListView.first_name }}</h2>
                    <h2 class="status-name">{{ StudListView.last_name }}</h2>
                    <h2 class="status-name">{{ StudListView.middle_name }}</h2>
                    <h2 class="status-name">{{ StudListView.email }}</h2>
                    <h2 class="status-name">{{ StudListView.status }}</h2>
                    <h2 class="status-name">{{ StudListView.course }}</h2>
                    <h2 class="status-name">{{ StudListView.specialty.specialty_name }}</h2>
                    <h2 class="status-name">{{ StudListView.specialty.institution.institution_name }}</h2>
                    <h2 class="status-name">{{ StudListView.user.username }}</h2>
                    <div class="up-del-buttons">
                        <a href = "{% url 'bookLibrary:StudUpdateView' StudListView.pk %}"><p>Обновить</p></a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}


